@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* logo */
@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: orange; */
  --color-primary: #ff8c42;
  --color-secondary: teal;
  --color-base-100:#faf7f5;
   /* --linear-gradient(135deg, #dbeafe, #ffedd5, #fce7f3); */
   --color-base-content: #1f2937;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  /* --color-primary: orange; */
  --color-primary: #ff8c42;
  --color-secondary: skyblue;
   --color-base-100: #000000;
   --color-base-content: #ffffff;
  
}

* {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


 a.active{
   @apply underline decoration-3  underline-offset-7 decoration-primary ;
}

