@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* logo */
@import "tailwindcss";
@plugin "daisyui";


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: orange;
  --color-secondary: teal;
  
}

* {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}